/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2020, 11:52:13 PM
    Author     : AzCraft
*/
#centerBlock{
    position:absolute;
    top: 50%;
    left: 50%
}
body:not(.Compact) #centerBlock{
    width: 350px;
    height: 550px;
    margin-top: -275px;
    margin-left: -175px;
}
body.Compact #centerBlock{
    width: 300px;
    height: 400px;
    margin-top: -200px;
    margin-left: -150px;
}
